.page-link{
    background-color: #DDD;
    color: #333;
    border: #BBB;
}
  
.page-link:hover{
    background-color: #ffc107;
    color: #222;
}

.page-link:focus{
    color: #222;
    background-color: #EEE;
    box-shadow: 0 0 0 0.25rem #ffc10765;
}