.noGlow{
    color: #DDD;
}

.plotHeader{
    font-weight: bold;
}

.plot{
    margin: 5px;
    padding: 10px;
    border: 1px solid #333;
    border-radius: 5px;
}

.displayItem{
    background-color: rgb(22, 21, 24);
    border-radius: 5px;
    border: 1px solid #666;
    padding: 7px;
    margin: 10px;
}

.displayPoster{
    max-width: 100%;
    max-height: 100%;
    border: 1px solid #666;
    border-radius: 3px;
}

.displayTitle{
    font-weight: bolder;
    color: #ffc107;
    padding: 20px 0px 5px 20px;
    margin: 0px;
}

.displaySubtitle{
    color: #ffc107;
    padding: 5px 20px 10px 0px;
    border-bottom: 1px solid #666;
}