.navbar{
    border-bottom: 1px solid #444;
}

#header-logo{
    margin-left: 10px;
    margin-right: 10px;
}

.navbar-nav{
    margin-left: 15px;
    width: 94% !important;
}

.navbar-brand{
    cursor: pointer;
}

.header-search:focus{
    border-color: #ffc107;
    outline: 0;
    box-shadow: 0 0 0 0.25rem #ffc10791;
}

.headerMenuButton{
    margin-right: 7px !important;
    color: #ffc10791 !important;
    background-color: #ffc107 !important;
}

#headerFilterButton{
    color: #000 !important;
}
 
.navbar-brand{
    font-weight: bold;
    color: #ffc107 !important;
    font-size: 25px;
}

.nav-link{
    margin-right: 5px;
    color: #DDD !important;
}

.nav-link:hover{
    color: #ffc107 !important;
}