.resultItem{
    border: 1px solid #444;
    border-radius: 5px;
    margin-top: 7px;
    margin-bottom: 7px;
    padding: 10px;
    background-color: rgb(22, 21, 24);

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
}

.resultItem:hover{
    color: #ffc107;
    border: 1px solid #666;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
}

.resultItemHeader{
    cursor: pointer;
    margin-bottom: 10px;
}

.headerBorderOpen{
    border-bottom: 1px solid #666;
}

.resultItemHeaderText{
    font-weight: bold;
    padding: 0;
    margin: 0;
    padding-left: 10px;
}

.resultItemSubheader{
    padding: 0;
    margin: 0;
    padding-right: 15px;
    text-align: right;
}

.poster{
    max-width: 100%;
    max-height: 100%;
    border: 1px solid #666;
    border-radius: 3px;
    margin-bottom: 10px;
}