html{
  color: #DDD;
  background-color: rgb(22, 21, 24);
}

body{
  color: #DDD;
  background-color: rgb(22, 21, 24);
}


h1{
  font-weight: bold;
}

h4{
  margin-top: 8px;
  border-top: 3px solid #ffc107;
  font-weight: bold;
  border-radius: 2px;
  padding-left: 5px;
}

ul{
  margin: 0;
  padding-left: 20px;
}

table{
  max-width: 98% !important;
  color: #DDD !important;
}

tr{
  border-bottom: 1px solid #333;
}



.badge{
  background-color: #ffc107;
  border-radius: 3px;
  font-weight: bolder !important;
  color: #333;
  font-size: small;
}



.max-width-700{
  max-width: 700px;
}

.max-width-400{
  max-width: 400px;
}


.left-text{
  text-align: left;
}

.centre-text{
  text-align: center;
}

.right-text{
  text-align: right;
}

.centre-align{
  margin-left: auto !important;
  margin-right: auto !important;
}


.bg-black{
  background-color: #212529;
  border-radius: 5px;
}

.form-control:focus{
  border-color: #ffc107;
  outline: 0;
  box-shadow: 0 0 0 0.25rem #ffc10765;
}